body{
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    justify-content: center; /* flex-end, flex-start, flex-end, space-around, space-between */
    align-items: center; /* flex-end, flex-start, center, stretch */
}

.box{
    height: 200px;
    width: 200px;
    background-color: #0071FF;
    font-size: 40pt;
}