body{
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    /*1)justify-content: center; /* flex-end, flex-start, flex-end, space-around, space-between, space evenly--> this is along x-axis*/
    /*1)align-items: center; /* flex-end, flex-start, center, stretch--> this is along y-axis */
    flex-direction: column; /* row, row-reverse, column-reverse */
    justify-content: flex-start; /* main axis */
    align-items: center; /* cross axis */
    
}

.box{
    height: 200px;
    width: 200px;
    background-color: #0071FF;
    font-size: 40pt;
}