body{
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    /*1)justify-content: center; /* flex-end, flex-start, flex-end, space-around, space-between, space evenly--> this is along x-axis*/
    /*1)align-items: center; /* flex-end, flex-start, center, stretch--> this is along y-axis */
    /*2)flex-direction: column; /* row, row-reverse, column-reverse */
    /*2)justify-content: flex-start; /* main axis */
    /*2)align-items: center; /* cross axis */
    /*3)gap: 20px; /* gap between items, we can also use column-gap and row-gap to change individually*/
    /*3)flex-wrap: wrap; /* nowrap, wrap, wrap-reverse --> resizes dynamically top next line*/
    /*3)justify-content: center;/*flex-end, flex-start, center, space-around, space-between, space-evenly */
    /*3)align-items: center;/*flex-end, flex-start, center, stretch */
    /*3)align-content: center; /* when there are multiple rows/columns */
    gap: 10px;
}

#box-1{
    /*4)flex-shrink: 0; /* it will not shrink even if there is not enough space in the container */
    /*5)flex-grow: 1; /* it will grow to fill the extra space in the container */
    align-self: flex-start; /* overrides align-items for individual item */
    margin-right: auto; /* pushes the item to the left */
}
.box{
    /*4)flex-shrink: 1; /* default is 1, it can shrink to fit in the container */
    flex-grow: 0; /* default is 0, it will not grow even if there is extra space in the container */
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #0071FF;
    font-size: 40pt;
} 
@media(max-width: 575px){
    body{
        flex-wrap: wrap;
    }
}  /*we can combat overflow on shrinking screen by using media queries*/